<div class="main">
  <p>Please select a date and an hour to check if the resource is available</p>
  <form [formGroup]="formReservation" (submit)="checkReservation()">
    <div class="wrapper-content">
      <app-datepicker (newEvent)="eventDate($event)" [options]="datepickerOptions"></app-datepicker>
      <div class="select-wrapper">
        <app-select [options]="selectOptions"></app-select>
      </div>
    </div>
    <div class="button-wrapper">
      <button type="submit">Search</button>
    </div>
  </form>
</div>
