input {
  cursor: pointer;
  border-radius: .3em;
  border: solid thin #a2a2a2;
  height: 1.85em;
  width: 50%;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1;
  /* Firefox */
  padding-left: .5em;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black;
  padding-left: .5em;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: black;
  padding-left: .5em;
}
